{% extends 'base.html' %}


{% block javascriptblock %}
<script type="text/javascript">
  const targetNav = "Home";
  let targetElement = document.querySelector("#navbar-list");

  for(let i = 0; i < targetElement.children.length; i++){
  	if (targetElement.children[i].innerText == targetNav){
  		let classes = targetElement.children[i].classList;
  		classes.add("active");
  		//console.log(targetElement.children[i])
  		//console.log(typeof targetElement.children[i])
  		//console.log(targetElement.children[i].classList)
  	}
  }

</script>
{% endblock javascriptblock %}