{% extends 'base.html' %}
{% block pagetitle %} Product printer 1 {% endblock pagetitle %}

{% block content %}
{% load static %}
<div class="cointainer-fluid">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-7 col-md-6 col-sm-12">
      <h2 class="display-4 mt-2">Printer 1</h2>
      <p class="lead mt-2 p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi beatae, magnam esse, commodi ullam deleniti ipsum enim amet! Dolore, aliquam. Possimus inventore, impedit expedita vel tenetur facere quae exercitationem.
      Qui sapiente quisquam animi iusto delectus soluta obcaecati ratione rerum praesentium mollitia adipisci fugiat id repellat consequuntur, laudantium pariatur molestias ad facilis eveniet fuga quas error quis! Officiis molestias, suscipit.
      Laborum aperiam, dolorem quam eveniet omnis nobis illum nesciunt, officia eaque tenetur ipsam. Hic ea ducimus est inventore, quae, commodi consequuntur aliquid, natus in alias illo, facilis assumenda optio blanditiis.
      Dolore in quia sunt iure ullam sed. Optio esse error iste nostrum doloremque distinctio vitae, hic vel incidunt delectus. Dicta libero molestias fugit quos quasi, soluta, repellat numquam nihil sint?
      Provident, vel placeat commodi dolores id laborum eius impedit ipsam optio recusandae accusantium dignissimos delectus unde, distinctio iusto quia et corrupti officiis ab, dolorem fugiat labore amet neque velit voluptatem.</p>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <img src="{% static "img/pr_1.jpg" %}" alt="printer1">
    </div>
  </div>  
</div>


{% endblock content %}



{% block javascriptblock %}
<script type="text/javascript">
  const targetNav = "Printer 1";
  let targetElement = document.querySelector("#navbar-list");

  for(let i = 0; i < targetElement.children.length; i++){
  	if (targetElement.children[i].innerText == targetNav){
  		let classes = targetElement.children[i].classList;
  		classes.add("active");
  	}
  }

</script>
{% endblock javascriptblock %}